body { 
    background-color: #e8f0f7;
    margin: 20px
    font-family: Arial, sans-serif;
    color: #333;
}

nav {
    background-color: #003366;
    padding: 12px;
    margin-bottom: 25px;
    border-radius: 6px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

nav a {
    color: white;
    font-size: 18px;
    text-decoration:
    transition: 0.3s;
}
nav a:hover {
    color: #66ccf;
    text-decoration: underline;

}

h1 {
    font-size: 36px;
    color: #003366;
    margin-bottom: 10px;
}

h2 {
    font-size: 28px;
    color: #003366;
    margin-bottom: 10px;
}

p {
    font-size: 18px; 
    line-height: 1.5;
    color: #333;
}

section {
    background-color: #ffffff;
    padding: 15px;
    margin-bottom: 25px;
    border-radius: 6px;
}


ul, ol {
    font-size: 18px;
    margin-left: 25px;
}

li {
    margin-bottom: 6px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f9f9f9;
    font-size: 18px;
}

th, td {
    border: 1px solid #003366;
    padding: 10px;
}

th {
    background-color: #003366;
    color: white;
}

footer {
    margin-top: 30px;
    padding: 12px;
    background-color: #003366;
    color: white;
    text-align: center;
    border-radius: 6px;
} 